@media (min-width: 1180px) {
    .bg-about-event {
        background-image: url("../../img/bg-about-event.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 226vh;
    }
}
.content-event {
    color: #231f20;
    font-family: "Inter", sans-serif;
    font-style: normal;
    line-height: normal;
    gap: 4px;

    padding: 7rem 8rem 2rem 52rem;
}

.title-event {
    color: #231f20;
    leading-trim: both;
    text-edge: cap;
    font-family: "Inter", sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

.text-event {
    color: #231f20;
    leading-trim: both;
    text-edge: cap;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    margin-bottom: 50px;
}

.content-methodology {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-style: normal;
    line-height: normal;
    flex-direction: column;
    align-items: flex-start;
    gap: 68px;

    padding: 15rem 56rem 1rem 5rem;
}
.title-methodology {
    color: #fff;
    leading-trim: both;
    text-edge: cap;
    font-family: "Inter", sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    margin: 0 0 32px;
}
.text-methodology {
    color: #fff;
    leading-trim: both;
    text-edge: cap;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

@media (min-width: 1800px) {
    .content-event {
        padding: 7rem 22rem 2rem 61rem;
    }
    .content-methodology {
        padding: 30rem 80rem 1rem 5rem;
    }
}

@media (max-width: 954px) {
    .bg-about-event {
        height: 165vh;
        background: #ffde16;
    }
    .first-column {
        background-image: url("../../img/first-bg.svg");
        background-size: cover;
        background-repeat: no-repeat;

        background-position: 0rem -16rem;
    }
    .second-column {
        background-image: url("../../img/second-bg.svg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 80vh;
        background-position: center;
    }
    .content-event {
        padding: 2.5rem 2rem;
    }

    .title-event {
        font-size: 1.5rem;
        text-align: center;
    }

    .text-event {
        font-size: 1.25rem;
        justify-content: center;
    }

    .content-methodology {
        padding: 3rem 3rem 1rem 3rem;
        height: 100%;
    }
    .title-methodology {
        font-size: 1.5rem;
        margin: 0 0 32px;
    }
    .text-methodology {
        font-size: 1.25rem;
    }
}
@media (max-width: 390px) {
    .content-event {
        display: flex;
        padding: 3.125rem 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .title-event{
        margin: 0;
    }
    .text-event {
        font-size: 1rem;
        margin: 0;
    }
}
