.bg-about-event {
    background-image: url("../../img/bg-about-event.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 226vh;
}
.content-event {
    color: #231f20;
    font-family: "Inter", sans-serif;
    font-style: normal;
    line-height: normal;
    gap: 4px;

    padding: 9.375rem 13rem 1rem 18rem;
}

.title-event {
    color: #231f20;
    leading-trim: both;
    text-edge: cap;
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

.text-event {
    color: #231f20;
    leading-trim: both;
    text-edge: cap;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    margin-bottom: 50px;
}

.content-methodology {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-style: normal;
    line-height: normal;
    flex-direction: column;
    align-items: flex-start;
    gap: 68px;

    padding: 30rem 23rem 1rem 5rem;
}
.title-methodology {
    color: #fff;
    leading-trim: both;
    text-edge: cap;
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 68px;
}
.text-methodology {
    color: #fff;
    leading-trim: both;
    text-edge: cap;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

@media (max-width: 1024px) {
    .bg-about-event {
        background-image: url("../../img/bg-about-mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: inherit;
        width: 100%;
        height: 188vh;
    }
    .content-event {
        padding: 5rem 3rem 5rem 4rem;
    }

    .title-event {
        font-size: 1.5rem;
    }

    .text-event {
        font-size: 1.25rem;
    }

    .content-methodology {
        padding: 8rem 3rem 5rem 4rem;
        gap: 0px;
    }
    .title-methodology {
        font-size: 1.5rem;
    }
    .text-methodology {
        font-size: 1.25rem;
    }
}
