.business-content {
    background: #005d58;
}

.img-background-business {
    background-image: url("../../img/img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content-business-text {
    padding: 145px 165px;
    gap: 2rem;
    width: 100%;
    margin: auto;
    height: auto;
    /* border-radius: 2.5rem 0rem 0rem 2.5rem; */
}

.business-subtitle {
    color: #fff;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: "Inter", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.business-title {
    color: #48ba82;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: "Inter", sans-serif;
    font-size: 68px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.business-text {
    color: #fff;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-origin-business {
    width: 430px;
    padding: 1.5rem 0.75rem;

    border-radius: 2.875rem;
    border: 2px solid #e66c27;
    background: linear-gradient(180deg, #e67a34 0%, #db6929 100%);

    color: #fff;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btn-origin-business:hover {
    border-radius: 46px;
    border: 2px solid #e66c27;
    background: linear-gradient(180deg, #ff6806 0%, #b25724 100%);
    color: #fff;
}

@media (max-width: 884px) {
    .img-background-business {
        background-size: cover;
        background-position: center;
        height: 55vh;
    }
    .img-background-business {
        height: auto;
    }
    .content-business-text {
        padding: 3.87044rem 6rem;
    }
    .business-subtitle {
        font-size: 16px;
    }
    .business-title {
        font-size: 28px;
    }
    .business-text {
        font-size: 12px;
    }
    .btn-origin-business {
        width: 11.47788rem;
        font-size: 12px;
        padding: 0.64063rem 0.32031rem;
        border-radius: 1.22788rem;
        border: 0.854px solid #e66c27;
        background: linear-gradient(180deg, #e67a34 0%, #db6929 100%);
    }
}

@media (max-width: 428px) {
    .img-background-business {
        background-image: url("../../img/mundo-mobile.png");
        height: 53vh;
    }
    .business-content {
        position: relative;
        background: #0d3d53;
    }
    .content-business-text {
        padding: 2rem 1rem;
        border-radius: 0 0 2.5rem 2.5rem;
        background: #005d58;
    }
    .business-title {
        font-size: 1.5rem;
    }
    .business-subtitle {
        font-size: 2.25rem;
    }
    .business-text {
        font-size: 1.25rem;
    }
    .btn-origin-business {
        font-size: 1.25rem;
    }
}

@media (max-width: 414px) {
    .business-title {
        font-size: 1.5rem;
    }
    .business-subtitle {
        font-size: 2.25rem;
    }
    .business-text {
        font-size: 1.25rem;
    }
    .btn-origin-business {
        font-size: 1.25rem;
    }
}
