.debates-content {
    background-image: url("../../img/Sessao_9.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
    padding: 2.5rem 6.25rem;
    flex-shrink: 0;
}

.title-debates {
    color: #231f20;
    leading-trim: both;
    text-edge: cap;
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

.text-debates {
    color: #231f20;
    leading-trim: both;
    text-edge: cap;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cards-debates {
    gap: 2.75rem;
    flex-shrink: 0;
    padding: 2.5rem 0rem;

    background-image: url("../../img/Vector4.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
}

.card-item {
    gap: 2rem;
    flex-shrink: 0;
    padding: 2rem 2.5rem;
    width: 24rem;
    height: auto;
    border-radius: 2.5rem;
    border: 8px solid #231f20;
}

.title-card-debates {
    color: #fff;
    leading-trim: both;
    text-edge: cap;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

.text-card-debates {
    color: #fff;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.custom-black {
    color: #231f20;
}

@media (max-width: 1280px) {
    .container-debates {
        gap: 10.25rem;
    }
}

@media (max-width: 1114px) {
    .container-debates {
        gap: 8.25rem;
    }
}

@media (max-width: 850px) {
    .debates-content {
        padding: 0rem 4.25rem;
    }
    .container-debates {
        gap: 0rem;
    }
    .card-item {
        border: 3.417px solid #231f20;
        border-radius: 1.06769rem;
        flex-shrink: 0;
        gap: 0.85419rem;
        width: 10.25rem;
        height: auto;
        padding: 0.85419rem 1.06769rem;
    }
    .title-card-debates {
        font-size: 14px;
    }
    .text-card-debates{
        font-size: 10px;
    }
    .title-debates{
        font-size: 18px;
    }
    .text-debates {
        font-size: 12px;
    }
}

@media (max-width: 428px) {
    .debates-content {
        background-image: url("../../img/SOBRE-EVENTO-mobile.png");
        padding: 2.375rem 2rem;
        height: 100%;
        background-position: 0 -18rem;
    }

    .container-debates {
        gap: 0;
    }

    .title-debates {
        font-size: 1.5rem;
        text-align: center;
    }

    .text-debates {
        font-size: 1.25rem;
    }

    .cards-debates {
        padding: 2rem 0 0 0;
    }

    .card-item {
        padding: 0.5rem 1.25rem;
        width: 16rem;
    }

    .title-card-debates {
        font-size: 1.25rem;
    }

    .text-card-debates {
        font-size: 1rem;
    }
}

@media (max-width: 414px) {
    .title-debates {
        font-size: 1.5rem;
    }

    .text-debates {
        font-size: 1.125rem;
    }

    .title-card-debates {
        font-size: 1.5rem;
    }
}
