.footer-content {
    width: 100%;
    padding: 2.5rem 3.5rem;
    background-color: #dfe5e8;
}

.text-copy {
    color: var(--color-azure-27);
    font-family: "Inter", sans-serif;
    font-size: 17.857px;
    font-style: normal;
    font-weight: 400;
    line-height: 31.887px;
    text-transform: capitalize;
}

.title-nav-footer {
    color: var(--color-azure-27);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px;
    text-transform: uppercase;
}

.list-items-footer {
    padding: 0;
    margin: 0;
    list-style: none;
}

.link-item-footer {
    color: var(--color-azure-27);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-transform: capitalize;
    text-decoration: none;
}

.link-item-footer:hover {
    color: var(--color-azure-27);
    text-decoration: underline;
}

.footer-email {
    color: #e67a34;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-transform: lowercase;
    text-decoration: none;
}

.social .fab {
    color: #394050;
}

.content-social {
    padding: 2.5rem 3.5rem;
    gap: 24px;
}

.portal-btn {
    width: 132px;
    padding: 0rem 0.5rem;
    text-decoration: none;

    border-radius: 2.875rem;
    border: 1px solid #1d66c3;

    color: #1d66c3;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.898px;
    text-transform: capitalize;
}

.portal-btn:hover {
    border: 1px solid #1D66C3;
    background: #1D66C3;

    color: #FFF;
}

@media (max-width: 428px) {
    .footer-content {
        align-items: center !important;
        padding: 2.5rem 1.5rem !important;
    }

    .nav {
        align-items: start !important;
        flex-direction: row !important;
    }
}
