ul {
  list-style: none;
}

.logo-home {
  
  height: 91.273px;
}

.bg-nav {
  list-style: none;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  background: white;
  background-size: contain;
  border-radius: 0 0 50px 50px;
  position: absolute;
  width: 100%;
}

.custom-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-collapse {
  flex-grow: 0 !important;
}

.custom-listbar {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.custom-nav .collapse {
  visibility:visible !important;
}

.link-custom{
  text-decoration: none;
  color: #006964;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.link-custom:hover {
  color: #006964;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #006964;
}

.custom-btn {
  background: #ff6e00;
  color: #FFF;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  text-decoration: none;
  transition: 0.3s;
}

.custom-btn:hover {
  background: #e26403;
}

@media (max-width: 1599) {

  .link-custom a {
    font-size: 19px;
  }
  .custom-btn {
    font-size: 19px;
  }

}

@media (max-width: 768px) {
  .custom-listbar {
    text-align: center;
  }
  .custom-btn {
    display: none;
  }
  .link-custom {
      margin-top: 10px;
  }
}