ul {
    list-style: none;
}

.logo-home {
    height: 91.273px;
}

.bg-nav {
    list-style: none;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background: white;
    background-size: contain;
    border-radius: 0 0 50px 50px;
    position: absolute;
    width: 100%;
}

.custom-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-collapse {
    flex-grow: 0 !important;
}

.custom-listbar {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.custom-nav .collapse {
    visibility: visible !important;
}

.link-custom {
    text-decoration: none;
    color: #006964;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.link-custom:hover {
    color: #006964;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #006964;
}

.custom-btn {
    color: #fff;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0.75rem;
    border-radius: 2.875rem;
    border: 2px solid #e66c27;
    background: linear-gradient(180deg, #e67a34 0%, #db6929 100%);
    text-decoration: none;
    transition: 0.3s;
}

.custom-btn:hover {
    border-radius: 2.875rem;
    border: 2px solid #e66c27;
    background: linear-gradient(180deg, #ff6806 0%, #b25724 100%);
}

@media (max-width: 1599) {
    .link-custom a {
        font-size: 19px;
    }
    .custom-btn {
        font-size: 19px;
    }
}

@media (min-width: 1366) and (max-width: 1599) {
    .custom-listbar { 
        gap: 1rem;
    }
}



@media (min-width: 800px) and (max-width: 900px) {
    .logo-home {
        margin: 0.5rem 2rem;
    }
    .btn-menu {
        margin: 1rem 2rem;
    }
    .bg-nav {
        padding: 0;
    }
    .btn-mobile { 
        margin: 2rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 290px;
        border: 2px solid #e66c27;
        background: linear-gradient(180deg, #e67a34 0%, #db6929 100%);
        color: #fff;
        font-family: "Inter", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 1.3rem;
        border-radius: 20px;
        border: none;
        text-decoration: none;
        transition: 0.3s;
    }
    .custom-nav {
        justify-content: space-between;
        align-items: center;
        display: flex;
        padding: 0;
    }
    .custom-nav .collapse {
        overflow: hidden;
    }

    .custom-listbar {
        gap: 2rem;
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        background-color: #006964;
    }
    .custom-listbar {
        text-align: center;
        background: #006964;
    }
    .custom-btn {
        display: none;
    }
    .link-custom {
        color: #ffffff;
        font-size: 20px;
    }
    .link-custom:hover {
        color: #ffffff;
        padding-bottom: 0.5rem;
        border-bottom: 2px solid #ffffff;
    }
}


@media (max-width: 768px) {
    .bg-nav {
        padding: 0;
    }
    .brand {
        margin: 0.5rem 0.5rem 0.5rem 1rem;
    }
    .btn-menu {
        margin-right: 1rem;
    }
    .custom-nav {
        justify-content: space-between;
        align-items: center;
        display: flex;
        padding: 0;
    }
    .custom-nav .collapse {
        overflow: hidden;
    }

    .custom-listbar {
        gap: 2rem;
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        background-color: #006964;
    }
    .custom-listbar {
        text-align: center;
        background: #006964;
    }
    .custom-btn {
        display: none;
    }
    .btn-mobile {
        width: 290px;
        border: 2px solid #e66c27;
        background: linear-gradient(180deg, #e67a34 0%, #db6929 100%);
        color: #fff;
        font-family: "Inter", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 1.3rem;
        border-radius: 20px;
        border: none;
        text-decoration: none;
        transition: 0.3s;
        margin: 2rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-mobile:hover {
        background: #e26403;
    }

    .link-custom {
        color: #ffffff;
        font-size: 20px;
    }
    .link-custom:hover {
        color: #ffffff;
        padding-bottom: 0.5rem;
        border-bottom: 2px solid #ffffff;
    }

    .link-custom {
        margin-top: 10px;
    }
}

@media (max-width:390px) {
    .bg-nav {
        border-radius: 0rem 0rem 3.125rem 3.125rem;
    }
}