.participate-content {
    background-image: url("../../public/img/Sessão8.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.participate-content-text {
    padding: 9.375rem 0rem;
    gap: 4.25rem;
    flex-shrink: 0;
}

.title-participe {
    color: #231f20;
    leading-trim: both;
    text-edge: cap;
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

.text-participe {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

@media (max-width: 428) {
    .participate-content {
        background-image: url("../../public/img/SOBRE-EVENTO.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .participate-content-text{
        align-items: center !important;
        padding: 2.5rem 0rem;
    }

    .title-participe {
        font-size: 32px;
        text-align: center;
    }

    .text-participe {
        font-size: 24px;
    }

    .participate-content-image {
        height: 1080px;
    }
}

@media (max-width: 414) {
    .title-participe {
        font-size: 20px;
    }

    .text-participe {
        font-size: 18px;
        line-height: 35px;
    }
}